<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veggie</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />
    <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="header-content">
                <div class="top-menu  scroll-reveal">
                    <div class="menu">
                        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
                            <button class="menu-icon dark" type="button" data-toggle="main-nav"></button>
                            <div class="title-bar-title">Menu</div>
                        </div>

                        <nav id="main-nav" data-animate="menu-in menu-out">
                            <ul class="main-navigation">
                                <li><a class="m-active" href="#" data-text="Home">Home</a></li>
                                <li><a class="m-anim" href="#specials-grid" data-text="Specials">Specials</a></li>
                                <li><a class="m-anim" href="#about-us" data-text="About">Search</a></li>
                                <li><a class="m-anim" href="#main-menu" data-text="Menu Cart">Menu Cart</a></li>
                                <li><a class="m-anim" href="#contact-us" data-text="Contact">Creators</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="a-slide slide1">
                <div class="container">
                    <div class="bottom-section scroll-reveal" data-origin="right" data-distance="20%">
                        <h1 class="header-txt">Daiquiri - white rum, fruit, lime juice and simple syrup</h1>
                        <div class="divider">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                        </div>
                        <!--.divider-->

                    </div>
                    <!--.bottom-section-->
                </div>
            </div>
            <div class="a-slide slide2">
                <div class="container">
                    <div class="bottom-section">
                        <h1 class="header-txt">Mojito - white rum, lime juice, cane sugar, soda and mint</h1>
                        <div class="divider">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                        </div>
                        <!--.divider-->
                    </div>
                    <!--.bottom-section-->
                </div>
            </div>
        </div>

    </header>

    <section class="category-icons">
        <div class="container">
            <div class="yellow-content">
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="../static/assets/icon-camera.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Step 1: Upload Your Photo</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">Snap a photo of the fruit you want included in your cocktail and upload it </p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="../static/assets/icon-search.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Step 2: We search! </h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="700">We find a cocktail recipe for you using the fruit from your photo </p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="../static/assets/icon-drink.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Step 3: Drink Time</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="900">Use your new recipe to make and enjoy your drink.</p>
                </div>
            </div>
            <!--.yellow-content-->
        </div>
        <!--.container-->
    </section>
    <!--.category-icons-->

    <section id="specials-grid" class="month-specials" data-scroll-reveal="enter from the bottom after 0.9s">
        <div class="container">
            <h1 class="header-txt">This month specials</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
            <!--.divider-->
            <div class="specials-content">
                <div class="special">
                    <div class="special-img img-01">
                        <img src="../static/assets/img/special-1.png" />
                    </div>
                    <div class="special-items spec-01">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Greens fava</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Nori grape silver beet broccoli kombu beet greens fava</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">19$</span>
                    </div>
                </div>
                <!--.special-->
                <div class="special">
                    <div class="special-img img-02">
                        <img src="../static/assets/img/special-2.png" />
                    </div>
                    <div class="special-items spec-02">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Celery quand</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Celery quandong swiss chard chicory earthnut pea</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">18$</span>
                    </div>
                </div>
                <!--.special-->
                <div class="special">
                    <div class="special-img img-03">
                        <img src="../static/assets/img/special-3.png" />
                    </div>
                    <div class="special-items spec-03">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Pea horser</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Kohlrabi radish okra azuki bean corn fava bean mustard</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">7$</span>
                    </div>
                </div>
                <!--.special-->
                <div class="special">
                    <div class="special-items spec-04">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Soko radicchio</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Dandelion zucchini burdock yarrow chickpea dandelion</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">25$</span>
                    </div>
                    <div class="special-img img-04">
                        <img src="../static/assets/img/special-4.png" />
                    </div>
                </div>
                <!--.special-->
                <div class="special">
                    <div class="special-items spec-05">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Tigernut</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Grape silver beet watercress potato tigernut</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">14$</span>
                    </div>
                    <div class="special-img img-05">
                        <img src="../static/assets/img/special-5.png" />
                    </div>
                </div>
                <!--.special-->
                <div class="special">
                    <div class="special-items spec-06">
                        <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                        <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                        <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                        <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                    </div>
                    <div class="special-img img-06">
                        <img src="../static/assets/img/special-6.png" />
                    </div>
                </div>
                <!--.special-->
            </div>
            <!--.specials-content-->
        </div>
        <!--.container-->
    </section>
    <!--.month-specials-->

    <section id="about-us" class="about">
        <div class="container">
            <div class="about-content">
                <h1 class="header-txt scroll-reveal">Find a recipe</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <p class="scroll-reveal" data-origin="top" data-distance="10%">Here is where you upload a photo of a fruit so we know what recipes to look for</p>
               
        
                <form method=post enctype=multipart/form-data>
                  <p><input type=file name=file></p>
                  <p><input type=submit value=Upload></p>
                </form>
                
                
            </div>
        </div>
        <!--.container-->
    </section>
    <!--.about-->

    <section id="main-menu" class="menu-cart scroll-reveal">
        <div class="container">
            <h1 class="header-txt">Menu Cart</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
            <!--.divider-->
            <ul class="menu-navigation" data-tabs data-match-height="true" id="example-tabs">
                <li class="tabs-title is-active"><a class="m-anim" href="#panel1" aria-selected="true" data-text="Starters">Starters</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel2" href="#panel2" data-text="Main Dishes">Main Dishes</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel3" href="#panel3" data-text="Desserts">Desserts</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel4" href="#panel4" data-text="Drinks">Drinks</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>SAMPHIRE FRITTERS WITH FENNEL CEVICHE </span></td>
                                    <td><span>$19</span></td>
                                </tr>
                                <tr>
                                    <td>fresh samphire, plain flour, cornflower, eggs, fennel</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>SAMPHIRE FRITTERS WITH FENNEL CEVICHE </span></td>
                                    <td><span>$19</span></td>
                                </tr>
                                <tr>
                                    <td>fresh samphire, plain flour, cornflower, eggs, fennel</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel1-->

                <div class="tabs-panel" id="panel2">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SAMPHIRE FRITTERS WITH FENNEL CEVICHE </span></td>
                                    <td><span>$19</span></td>
                                </tr>
                                <tr>
                                    <td>fresh samphire, plain flour, cornflower, eggs, fennel</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SAMPHIRE FRITTERS WITH FENNEL CEVICHE </span></td>
                                    <td><span>$19</span></td>
                                </tr>
                                <tr>
                                    <td>fresh samphire, plain flour, cornflower, eggs, fennel</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel2-->

                <div class="tabs-panel" id="panel3">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>

                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel3-->

                <div class="tabs-panel" id="panel4">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel4-->

            </div>
        </div>
        <!--.container-->
    </section>
    <!--.menu-cart-->

    <a href="#0" class="cd-top">Top</a>

    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <h1 class="header-txt scroll-reveal">Creators</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <div class="contact-info scroll-reveal">
                    <div class="info-address">
                        <h3>Hema Bhoopathy</h3>
                        <p>github - </p>
                        <br>
                        <h3>Sarah Marquardt </h3>
                        <p>github - smarquardt92</p>
                    </div>
                    <div class="reservations">
                        <h3>Alan Choate</h3>
                        <p>github - atchoate</p>
                        <br>
                        <h3>Grecia White </h3>
                        <p>github - GreciaWhite</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <!--.contact-info-->
                
                <!--.contact-form-->
            
                   
                    </div>
                </div>
                <!--.social-icons-->
            </div>
            <!--.footer-content-->
            <p class="copy-info">Copyright 2017 © by Anna Dadej</p>
        </div>
        <!--.container-->
    </footer>

    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.2/what-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script src="../static/js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script type="text/javascript">
        $('.slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3500,
            arrows: false,
            fade: true,
            cssEase: 'linear'
        });

    </script>

    <script>
        $(window).on('load', function() {
            $("#preloader").fadeOut();
        });
    </script>

</body>

</html>
